<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Théorie musicale
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutGap="30px">
      <!-- SAISIE DE LA TONALITE -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-form-field fxFlex="40" appearance="standard">
          <mat-label>Choisir une gamme</mat-label>
          <mat-select [(ngModel)]="selectedScaleType" (selectionChange)="onScaleTypeSelectionChange()">
            <mat-option *ngFor="let scale of scaleTypes" [value]="scale">
              {{scale.name}}
              <span *ngIf="scale.aliases.length !== 0">
                ({{scale.aliases}})
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="15" appearance="standard">
          <mat-label>Choisir une tonalité</mat-label>
          <mat-select [(ngModel)]="selectedNote" (selectionChange)="onScaleTypeSelectionChange()">
            <mat-option *ngFor="let note of notesPossibles" [value]="note">{{note}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- ECHELLE CHROMATIQUE ET NOTES DE LA GAMME -->
      <div *ngIf="scalePattern.length !== 0" fxLayout="column" fxLayoutGap="30px">
        <!-- ECHELLE CHROMATIQUE -->
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start">
          <span fxFlex="20">Echelle chromatique :</span>
          <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start">
            <div [fxFlex]="20+chroma*80+'px'" *ngFor="let chroma of scalePattern">
              <div [ngClass]="{'semiTone': (chroma === 0.5), 'tone': (chroma === 1), 'moreThanATone': (chroma > 1)}">{{
                chroma }}</div>
            </div>
          </div>
        </div>
        <!-- INTERVALLES -->
        <div fxLayout="row" fxLayoutAlign="start">
          <span fxFlex="20">Intervalles :</span>
          <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start">
            <div *ngFor="let note of scaleNotes;let i = index">
              <span 
                [fxFlex]="(i === scalePattern.length) ? 10 : 20+scalePattern[i]*80+'px'">{{note.intervalName}}</span>
            </div>
          </div>
        </div>
        <!-- NOTES DE LA GAMME -->
        <div fxLayout="row" fxLayoutAlign="start">
          <span fxFlex="20">Notes :</span>
          <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start">
            <div *ngFor="let note of scaleNotes;let i = index">
              <span class="note"
                [fxFlex]="(i === scalePattern.length) ? 10 : 20+scalePattern[i]*80+'px'">{{note.name}}</span>
            </div>
          </div>
        </div>
        <!-- HARMONISATION DE LA GAMME -->
        <div fxLayout="row" fxLayoutAlign="start">
          <span fxFlex="20">Harmonisation :</span>
          <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start">
            <div *ngFor="let chord of scaleChords;let i = index">
                <span class="chord" 
                [fxFlex]="(i === scalePattern.length) ? 10 : 20+scalePattern[i]*80+'px'"
                [ngClass]="getChordQuality(chord)">{{chord? chord : '-'}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ACCORD -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex="20" fxFlexAlign="center center">Accord :</span>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap='30px'>
          <div *ngFor="let i of [0,1,2,3,4]">
            <mat-form-field fxFlex="35px" appearance="standard">
              <mat-select [(ngModel)]="findChordNotes[i]" (selectionChange)="onfindChordNotesChange()">
                <mat-option *ngFor="let note of notesPossibles" [value]="note">{{note}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="chord" [ngClass]="getChordQuality(foundChord)">{{foundChord ? foundChord : '-'}}</div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>